@page
@using App.Core.Convertors
@model App.Pages.Admin.Slider.EditModel

@{
    ViewData["Title"] = "ویرایش اسلایدر";
    Layout = "~/Pages/Shared/_Admin.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>@ViewData["Title"]</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/admin">خانه</a>
            </li>
            <li>
                <a href="/admin/Slider/">اسلایدرها</a>
            </li>
            <li class="active">
                @ViewData["Title"]
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@ViewData["Title"]</h5>
                </div>
                <div class="ibox-content">
                    <form method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Slider.SliderId" />
                        <input type="hidden" name="oldImage" value="@ViewData["SliderImage"]" />
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label asp-for="Slider.SliderName" class="control-label"></label>
                                    <input asp-for="Slider.SliderName" class="form-control" />
                                    <span asp-validation-for="Slider.SliderName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Slider.SliderTitle1" class="control-label"></label>
                                    <input asp-for="Slider.SliderTitle1" class="form-control" />
                                    <span asp-validation-for="Slider.SliderTitle1" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Slider.SliderTitle2" class="control-label"></label>
                                    <input asp-for="Slider.SliderTitle2" class="form-control" />
                                    <span asp-validation-for="Slider.SliderTitle2" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Slider.SliderTitle3" class="control-label"></label>
                                    <input asp-for="Slider.SliderTitle3" class="form-control" />
                                    <span asp-validation-for="Slider.SliderTitle3" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Slider.SliderButtonText" class="control-label"></label>
                                    <input asp-for="Slider.SliderButtonText" class="form-control" />
                                    <span asp-validation-for="Slider.SliderButtonText" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Slider.SliderButtonLink" class="control-label"></label>
                                    <input asp-for="Slider.SliderButtonLink" class="form-control" />
                                    <span asp-validation-for="Slider.SliderButtonLink" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label style="padding-top: 8px;">
                                            <input asp-for="Slider.IsActive" />
                                        </label>
                                        <span style="margin-right: 15px"> فعال باشد؟</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label asp-for="Slider.SliderImage" class="control-label"></label>
                                </div>
                                <img id="SliderImage" class="img-half" src="/assets/sliders/@Model.Slider.SliderImage" alt="image" />
                                <div class="form-group">
                                    <p></p>
                                    <input type="file" name="sliderImageUp" id="sliderImageUp">
                                    <span asp-validation-for="Slider.SliderImage" class="text-danger"></span>
                                </div>
                                <div id="app">
                                    <div class="form-group">
                                        <label asp-for="Slider.SliderType" class="control-label"></label>
                                        <select class="form-control" v-on:change="slideType = !slideType" asp-for="Slider.SliderType">
                                            <option value="1">دائمی</option>
                                            <option value="2">بازه زمانی</option>
                                        </select>
                                        <span asp-validation-for="Slider.SliderType" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" v-show="slideType">
                                        <label asp-for="Slider.SliderStartTime" class="control-label"></label>
                                        <div class="input-group">
                                            <div data-mdpersiandatetimepickershowing="false" title="" data-original-title="" data-mdpersiandatetimepickerselecteddatetime="{&quot;Year&quot;:1393,&quot;Month&quot;:10,&quot;Day&quot;:10,&quot;Hour&quot;:0,&quot;Minute&quot;:0,&quot;Second&quot;:0}" data-enabletimepicker="false" data-mdpersiandatetimepicker="" style="cursor: pointer;" class="input-group-addon" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#exampleInput3">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </div>
                                            <input data-mdpersiandatetimepickershowing="false" value="@Model.Slider.SliderStartTime.ToShamsi()" title="" data-original-title="" data-mdpersiandatetimepickerselecteddatetime="{&quot;Year&quot;:1393,&quot;Month&quot;:10,&quot;Day&quot;:11,&quot;Hour&quot;:0,&quot;Minute&quot;:0,&quot;Second&quot;:0}" data-enabletimepicker="false" data-trigger="focus" data-mdpersiandatetimepicker="" class="form-control" name="startTime" placeholder="تاریخ" data-mddatetimepicker="true" data-placement="right" type="text">
                                        </div>
                                        <span asp-validation-for="Slider.SliderStartTime" class="text-danger"></span>
                                    </div>
                                    <div class="form-group" v-show="slideType">
                                        <label asp-for="Slider.SliderEndTime" class="control-label"></label>
                                        <div class="input-group">
                                            <div data-mdpersiandatetimepickershowing="false" title="" data-original-title="" data-mdpersiandatetimepickerselecteddatetime="{&quot;Year&quot;:1393,&quot;Month&quot;:10,&quot;Day&quot;:10,&quot;Hour&quot;:0,&quot;Minute&quot;:0,&quot;Second&quot;:0}" data-enabletimepicker="false" data-mdpersiandatetimepicker="" style="cursor: pointer;" class="input-group-addon" data-mddatetimepicker="true" data-trigger="click" data-targetselector="#exampleInput3">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </div>
                                            <input data-mdpersiandatetimepickershowing="false" title="" value="@Model.Slider.SliderEndTime.ToShamsi()" data-original-title="" data-mdpersiandatetimepickerselecteddatetime="{&quot;Year&quot;:1393,&quot;Month&quot;:10,&quot;Day&quot;:11,&quot;Hour&quot;:0,&quot;Minute&quot;:0,&quot;Second&quot;:0}" data-enabletimepicker="false" data-trigger="focus" data-mdpersiandatetimepicker="" class="form-control" name="endTime" placeholder="تاریخ" data-mddatetimepicker="true" data-placement="right" type="text">
                                        </div>
                                        <span asp-validation-for="Slider.SliderEndTime" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <br />
                            <input type="submit" value="افزودن اسلایدر" class="btn btn-primary btn-sm" />
                            <a asp-page="Index" class="btn btn-danger btn-sm">بازگشت</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/css/jquery.Bootstrap-PersianDateTimePicker.css" rel="stylesheet" />
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/calendar.js"></script>
    <script src="~/js/jquery.Bootstrap-PersianDateTimePicker.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    $('#SliderImage').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        
        $("#sliderImageUp").change(function() {
            readURL(this);
        });
        var app = new Vue({
            el: '#app',
            data: {
                slideType: @((Model.Slider.SliderType != 1).ToString().ToLower())
        }
    });
    </script>
}
}
