<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>کنترل پنل | @ViewData["Title"]</title>
    <link href="/adminAssets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/adminAssets/css/bootstrap.rtl.min.css" rel="stylesheet">
    <link href="/adminAssets/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- Toastr style -->
    <link href="/adminAssets/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <!-- Gritter -->
    <link href="/adminAssets/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">
    <link href="/adminAssets/css/animate.css" rel="stylesheet">
    <link href="/adminAssets/css/style.rtl.css" rel="stylesheet">

    @RenderSection("Styles", false)
    <link href="/adminAssets/css/custom.css" rel="stylesheet">

</head>
<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        @*@await Component.InvokeAsync("UserProfileInAdminPageComponent")*@
                        <div class="logo-element">
                            لوگو
                        </div>
                    </li>
                    <li class="special_link">
                        <a href="/admin"><i class="fa fa-tachometer" aria-hidden="true"></i> <span class="nav-label">داشبورد</span></a>
                    </li>
                    <li>
                        <a href="/admin/setting/indexPage"><i class="fa fa-home" aria-hidden="true"></i> <span class="nav-label">صفحه اصلی</span></a>
                    </li>
                    <li>
                        <a href="/admin/setting/aboutPage"><i class="fa fa-file-text-o" aria-hidden="true"></i> <span class="nav-label">درباره ما</span></a>
                    </li>
                    <li>
                        <a href="/admin/setting/contactPage"><i class="fa fa-phone" aria-hidden="true"></i> <span class="nav-label">تماس با ما</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-cubes" aria-hidden="true"></i> <span class="nav-label">محصولات</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="/admin/Product">لیست محصولات</a></li>
                            <li><a href="/admin/Product/Create">افزودن محصول</a></li>
                            <li><a href="/admin/Category">دسته بندی ها</a></li>
                            <li><a href="/admin/Brand">برند ها</a></li>
                            <li><a href="/admin/ConfigChart">مشخصه ها</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-newspaper-o" aria-hidden="true"></i> <span class="nav-label">مقالات</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="/admin/Post">لیست مقالات</a></li>
                            <li><a href="/admin/Post/Create">افزودن مقاله</a></li>
                            <li><a href="/admin/Group">گروه مقالات</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-files-o" aria-hidden="true"></i> <span class="nav-label">صفحات</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="/admin/Page">لیست صفحات</a></li>
                            <li><a href="/admin/Page/Create">افزودن صفحه</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-address-card-o" aria-hidden="true"></i> <span class="nav-label">اسلایدر</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="/admin/Slider">لیست اسلایدرها</a></li>
                            <li><a href="/admin/Slider/Create">افزودن اسلایدر</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-money" aria-hidden="true"></i> <span class="nav-label">فاکتورها</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="/admin/invoice">لیست فاکتورها</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-cogs" aria-hidden="true"></i> <span class="nav-label">تنظیمات کلی</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="/admin/setting/StyleSetting">تنظیمات ظاهری</a></li>
                            <li><a href="/admin/setting/edit">تنظیمات</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-question-circle" aria-hidden="true"></i> <span class="nav-label">راهنمای استفاده</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="/admin/help/editor">استفاده از ویرایشگر</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        <a href="/" class="btn btn-danger btn-sm" target="_blank" style="margin-top: 14px"><i class="fa fa-globe"></i> مشاهده سایت</a>
                    </div>
                    <ul class="nav navbar-top-links navbar-left">
                        <li>
                            <a href="/logout">
                                <i class="fa fa-sign-out"></i> خروج
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            @RenderBody()
            <div class="footer">
                <div class="pull-left">

                </div>
                <div>
                    <strong>کلیه حقوق محفوظ است</strong>
                    @DateTime.Now.Year © <a href="http://www.behnix.ir" target="_blank">طراحی وبرنامه نویسی توسط بهنیکس </a>
                </div>
            </div>
        </div>
    </div>
    <script src="/adminAssets/js/jquery-2.1.1.js"></script>
    <script src="/adminAssets/js/bootstrap.min.js"></script>
    <script src="/adminAssets/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/adminAssets/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/adminAssets/js/rada.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>

