@page
@model App.Pages.Admin.Invoice.IndexModel

@{
    ViewData["Title"] = "لیست فاکتورهای صادر شده";
    Layout = "~/Pages/Shared/_Admin.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>@ViewData["Title"]</h2>
        <ol class="breadcrumb">
            <li class="active">
                <a href="/admin">خانه</a>
            </li>
            <li>
                @ViewData["Title"]
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <a asp-page="Create" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i>  افزودن برند جدید</a>
                </div>
                <div class="ibox-title">
                    <h5>@ViewData["Title"]</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    سفارش دهنده
                                </th>
                                <th>
                                    آدرس پستی
                                </th>
                                <th>
                                    مبلغ فاکتور
                                </th>
                                <th>
                                    وضعیت سفارش
                                </th>
                                <th>
                                    کد رهگیری
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ var i = 1;}
                            @foreach (var item in Model.Invoice.OrderByDescending(p => p.FactoredOn))
                            {
                            <tr>
                                <td class="pt-20">
                                    @(i++)
                                </td>
                                <td class="pt-20">
                                    @item.CostumerName (@item.CostumerEmail - @item.CostumerPhone)
                                </td>
                                <td class="pt-20">
                                    @Html.DisplayFor(modelItem => item.CostumerAddress)
                                </td>
                                <td class="pt-20">
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                <td class="pt-20">
                                    @Html.DisplayFor(modelItem => item.State)
                                </td>
                                <td class="pt-20">
                                    @Html.DisplayFor(modelItem => item.RefNum)
                                </td>
                                <td class="pt-15">
                                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info btn-sm"> نمایش جزئیات</a>
                                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm"> حذف</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>